.mainContent {
    width: inherit;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerViewport {
    height: calc(100vh - (3.5625rem + 4.375rem));
    display: flex;
    justify-content: center;
}

.container {
    width: 50rem;
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.contentBody {
    width: inherit;
}

.formCard {
    margin-top: 1rem;
    /* width: 50%; */
    height: max-content;
}
