.brand {
    font-family: "ReggaeOne";
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid transparent;
    outline: none;
    color: #ffffff;
}

.addBtn:hover {
    border: 2px solid #ffffff;
    outline: none;
}

.addBtn:focus {
    outline: none;
    box-shadow: none;
}

/* FOR PHONE ONLY */
@media only screen and (max-width: 599px) {
    .addBtn {
        border-radius: 0.625rem;
    }
}
