.footer {
    width: inherit;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f9fa; */
    /* color: #ffffff; */
}

.footerText {
    color: #6e6e6e;
}
