.footer {
    width: inherit;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    text-align: center;
    font-size: 1rem;
    color: #6e6e6e;
}

@media only screen and (min-width: 1800px) {
    .footer {
        height: 99px;
    }
}
